<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation Website</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="innercontainer">
        <h1 class="title">Blood Donation Camp</h1>
        <p class="para">Save People Save Life</p>
        <form action="" method="POST" class="form">
            <input name="name" type="text" placeholder="Enter Your Name">
            <input name ="phone" type="phone" placeholder="Enter Your Phone">
           <input name="email" type="email", placeholder=" Enter Your Email">
            <input name="desc" type="text" placeholder="Enter Your Address">
            <button >Submit</button>
        </form>
    </div>
    </div>
</body>
</html>