*{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container{
    /* border: 2px solid black; */
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
 
}
.innercontainer{
    border: 2px solid rgb(0, 0, 0); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height: 69vh;
    background: center / cover no-repeat url("/static/coverimg.jpg");
    box-shadow: 4px 4px gray;
    
}
.title{
    /* border: 2px solid red; */
    margin-top: -84px;
    text-shadow: 2px 2px white;
  
}
.para
{
    margin-top: -10;
    /* border: 2px solid red; */
    text-shadow: 2px 2px white;
    font-size: 22px;
}
.form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.form input{
    width: 193%;
    height: 25px;
    margin: 4px;
    border: 2px solid black;
    border-radius: 35px;
}
button{
    background: transparent;
    border: 2px solid black;
    width: 193%;
    height: 25px;
    border-radius: 35px;
    color: black;
}
button:hover{
    background-color: rgb(187, 170, 170);
    cursor: pointer;
}